header{
    text-align: center; 
    color: aqua;
}

#form-create{
    display:none;
}

label{
    display: flex;
    padding-bottom: 1%;
}

input{
    margin-left: 3%;
}

button{
    margin-bottom: 1%;
}
